<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>ParticleWindMap</title>
        <script src="/indexJs/utils.js"></script>
    </head>
    <body>
        <div class = "index-div">
            <div class="nav-div">
                <%- include ('partials/navbar') %>
            </div>

            <div class = "map-div">

                <% if (!request) { %>
                    <% console.log("paokok") %>
                    <% include ('partials/burgermenu-windmap')%>
                <% } else if (request === 'firework') { %>
                    <% console.log("okok") %>
                    <%- include ('partials/simu-firework')%>
                <% } else if (request === 'fire') { %>
                    <%- include ('partials/burgermenu-fire')%>
                <% } else if (request === 'tree') { %>
                    <%- include ('partials/burgermenu-tree')%>
                <% } else if (request === 'physic') { %>
                    <%- include ('partials/simu-physic')%>
                <% } else { %>
                    <%-include ('partials/simu-windmap')%>
                <% } %>

            </div>
        </div>
    </body>
</html>
